<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ticketdatabase</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Saru@123</property>

       
        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- List of annotated classes -->
        <!-- <mapping class="com.example.model.Ticket"/> -->
         <mapping resource="com/example/model/TicketFunction.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
